body {
  background-color: bisque;
}

.box {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  text-align: center;
  align-items: center;
}
.header {
  font-size: 3em;
  margin: 0;
}
nav {
  margin-top: 1em;
}
input {
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: auto;
  max-width: auto;
}
.Lista {
  margin-top: 2em;
  text-align: left;
  background-color: white;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-height: calc(150px * 5);
  position: relative;
  overflow-y: scroll;
}
li {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  border-left: 3px solid #444;
  padding-left: 1em;
  line-height: 1.5;
  
}
.footer {
  margin-top: 2em;
  text-align: center;
  font-size: 0.8em;
  color: #888;
}
p {
  margin: 0;
}
